.headerText {
    text-align: center;
}

.profile>h1 {
    font-size: 40px;
}

.profile>h3 {
    color: #F3BF99;
    font-weight: normal;
}

.profile>p {
    margin-top: 0.75rem;
    font-weight: normal;
    font-size: 15px;
}

.buttons {
    padding: 1rem;
    display: inline-block;
    /* display: flex;
    justify-content: space-between; */
}

.buttons>button {
    text-align: center;
    padding: 10px 15px;
    margin-inline: 10px;
    min-width: auto;
}