section {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 20px 50px;
}

section>img {
    max-width: 400px;
    align-self: center;
}

section>h1 {
    text-align: left;
    font-size: 50px;
}

section>p {
    margin-top: 0px;
    text-align: left;
}