.card {
    width: 175px;
    font-size: 12px;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}

.soldOut {
    position: relative;
    top: 0px;
    left: 0px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}